
<h1 mat-dialog-title>Cadastro Cliente</h1>
<div mat-dialog-content>
  <form [formGroup]="formCliente">
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome" required />
    </mat-form-field>
    <mat-form-field appearance="fill" ui-br-cpfcnpj-mask style="width: 405px">
      <mat-label>CPF</mat-label>
      <input matInput type="number" formControlName="cpf" required />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>RG</mat-label>
      <input matInput formControlName="rg" required />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Telefone</mat-label>
      <input matInput type="number" formControlName="telefone" required />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Data de Nascimento</mat-label>
      <input
        matInput
        formControlName="dataNascimento"
        [matDatepicker]="picker"
        required
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Nome do contato de emergencia</mat-label>
      <input matInput formControlName="contatoEmergencia" required />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Telefone de emergencia</mat-label>
      <input matInput type="number" formControlName="telefoneEmergencia" ui-br-phone-number-mask="areaCode" required />
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Convênio Médico</mat-label>
      <input matInput type="text" formControlName="convenio" />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Numero da carteirinha</mat-label>
      <input matInput type="number" formControlName="numeroCarteirinha" ui-number-mask/>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="email" required />
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sexo" required>
        <mat-option value="M">Masculino</mat-option>
        <mat-option value="F">Feminino</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill" style="width: 405px">
      <mat-label>Sexo</mat-label>
      <input matInput type="text" formControlName="sexo" required />
    </mat-form-field> -->
    <mat-checkbox formControlName="envioNotificacao"
      >Deseja receber notificações no email?</mat-checkbox
    >
  </form>
</div>
<div mat-dialog-actions style="justify-content: center">
  <button mat-button cdkFocusInitial (click)="saveForm()">Salvar</button>
  <button
    mat-button
    (click)="close()"
    style="margin-left: 10%; background-color: grey"
  >
    Cancelar
  </button>
</div>
